[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = nicolas.chenet@datadoghq.com
	name = Nicolas Chenet
[alias]
	co = checkout
	br = branch
	lg=log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(r) —— %C(bold blue)%an%C(r): %C(white)%s%C(r) %C(dim white) %C(bold green)(%ar)%C(r) %C(bold yellow)%d%C(r)' --all
	ci = commit
	st = status
	amend = !git add -A && git commit --amend --no-edit
