[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	lg=log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(red)%h%C(r) —— %C(bold blue)%an%C(r): %C(white)%s%C(r) %C(dim white) %C(bold green)(%ar)%C(r) %C(bold yellow)%d%C(r)' --all
	ci = commit
	st = status
	amend = !git add -A && git commit --amend --no-edit
	cb = "!cb() { git checkout -b $USER/$1/$2; }; cb"
	branch-delete-remote= "!brd() { git push origin :$1; }; brd"

[user]
	name = Nicolas Chenet
	email = nicolas.chenet@datadoghq.com
